<footer class="bg-dark text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; @DateTime.Now.Year ExpenseHound by CSE325 Team 2</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-white text-decoration-none me-3">Privacy</a>

            </div>
        </div>
    </div>
</footer>

@code {

}