<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/90ec3794-87c8-467a-9de2-e0933e9175c4/resourcegroups/ExpenseHoundAPI20241217152909ResourceGroup/providers/Microsoft.Web/sites/ExpenseHoundAPI20241217152909</ResourceId>
    <ResourceGroup>ExpenseHoundAPI20241217152909ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/90ec3794-87c8-467a-9de2-e0933e9175c4/resourceGroups/ExpenseHoundAPI20241217152909ResourceGroup/providers/Microsoft.ApiManagement/service/ExpenseHoundAPIapi/apis/ExpenseHoundAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://expensehoundapi20241217152909.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a5138181-4396-4e23-b522-bd45556ea398</ProjectGuid>
    <MSDeployServiceURL>expensehoundapi20241217152909.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExpenseHoundAPI20241217152909</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ExpenseHoundAPI20241217152909</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>