@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to ExpenseHound!</h1>

<p>ExpenseHound is an application designed to help track expenses for free!</p>

<hr />

<!-- Knowledge Section for users -->
<h3>Importance of Tracking</h3>
<p>Tracking expenses shows it's importantance in a vareity of ways:</p>
<div class="g-3">
    <div class="row p-2">
        <div class="card col-sm bg-dark mb-3" style="max-width: 15rem;margin: 5px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Knowledge</h6>
                <p class="text-white">It helps you understand where your money is going.</p>
            </div>
        </div>
        <div class="card col-sm bg-dark mb-3" style="max-width: 15rem;margin: 5px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Save</h6>
                <p class="text-white">It helps you identify areas where you can save money.</p>
            </div>
        </div>
        <div class="card col-sm bg-dark mb-3" style="max-width: 15rem;margin: 5px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Prepare</h6>
                <p class="text-white">It helps you plan for the future.</p>
            </div>
        </div>
    </div>
</div>

<hr />

<h3>Getting Started</h3>
<p>Click on the 'Expense Tracker' link in the navigation bar to get started.</p>
<p>Expenses should follow the format:</p>
<ul>
    <li><b>Expense Type:</b> Specifies the type of expense.</li>
        <ul>
            <li><b>One Time:</b> These expenses are things like gifts or eating out unexpectedly.</li>
            <li><b>Recurring:</b> Typically these expenses don't fall under fixed expenses. They can be things 
                like subscriptions or debts.</li>
            <li><b>Fixed:</b> These expenses are rarely changing under ordinary circumstances. Things like rent, 
                insurance payments, and car payments are considered fixed expenses.</li>
            <li><b>Variable:</b> Any expense that changes or is relatively unpredictable is considered a variable
                expense. Some examples include gas, groceries, car repairs and travel.</li>
        </ul>
    <li><b>Description:</b> A short descriptor of the expense, such as 'phone bill' or 'Rent due'.</li>
    <li><b>Amount:</b> The amount of the expense.</li>
    <li><b>Date:</b> Date of the expense.</li>
    <li><b>Category:</b> Specifies the category of the expense.</li>
    <ul>
        <li><b>Groceries</b></li>
        <li><b>Utilities</b></li>
        <li><b>Cell Phone</b></li>
        <li><b>Transportation</b></li>
        <li><b>Debt</b></li>
        <li><b>Rent</b></li>
        <li><b>Insurance</b></li>
        <li><b>Entertainment</b></li>
        <li><b>Health</b></li>
        <li><b>Education</b></li>
        <li><b>Personal Care</b></li>
        <li><b>Gifts</b></li>
        <li><b>Subscriptions</b></li>
        <li><b>Travel</b></li>
        <li><b>Home</b></li>
        <li><b>Work</b></li>
        <li><b>Other</b></li>
    </ul>
</ul>
